.panelCreate {
  display: none !important;
}

.panelCreate.show {
  display: flex !important;
}

.panelCreate-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.panelCreate-container h4{
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.panelCreate-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.panelCreate-form label{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}
.panelCreate-form input{
  color: black;
  background-color:#cdcdcd;
  height: 30px;
  border: none;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.4s;
}
.panelCreate-form input:focus{
  outline: none;
}

.panelCreate-form input:hover{
  box-shadow: 0px 3.5px 0px 0px var(--secondary-color);
}

.panelCreate-form select{
  width: 100px;
  color: black;
  background-color:#cdcdcd;
  height: 30px;
  border: none;
  font-size: large;
  transition: all 0.4s;
}

.panelCreate-form select:hover{
  box-shadow: 0px 3.5px 0px 0px var(--secondary-color);
}

.panelCreate-form select:focus{
  outline: none;
}


.modalEditStock {
  display: none;
}

.modalEditStock.show {
  display: block;
}

#modalCreateColor {
  display: none;
}

#modalCreateColor.show {
  display: block;
}

#modalCreateSize {
  display: none;
}

#modalCreateSize.show {
  display: block;
}

#modalCreateMarca {
  display: none;
}

#modalCreateMarca.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreateMarca.show label{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.dashboard-title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}


.dashboard-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
.dashboard-header h2{
  font-size: 1.5rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 15px 0px 0px 10px;
  padding: 0;
}

.dashboard-clothe{
  background-color: var(--background-color);
  margin: 10px 10px;
  border-radius: 10px;
  padding: 10px 10px;
  transition: all 0.4s;
  min-width: 430px;
}

.dashboard-clothe:hover{
  background-color: var(--dark-background);
  box-shadow: 3px 3px 2px 0px var(--secondary-color);
}

.dashboard-clothe header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.dashboard-clothe-info{
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dashboard-clothe-info:hover{
  cursor: pointer;
}

.dashboard-clothe-info img{
  height: 80px;
  max-width: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.dashboard-clothe-info h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 0px 0px 0px 10px;
  padding: 0;
  text-align: left;
  width: 100%;
}

.dashboard-clothe-info p{
  color: rgba(245, 245, 245, 0.342);
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.dashboard-clothe-button{
  width: clamp(10px, 35px, 35px);
  height: clamp(10px, 35px, 35px);
  margin: 10px 10px;
}

.dashboard-clothe-button:hover{
  background-color: var(--dark-background);
}

.dashboard-colors-y-sizes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dashboard-general-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  transition: all 0.4s;
  
}

.dashboard-general-subcontainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 10px 10px;
}

.dashboard-general-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-general-item-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.dashboard-general-item-info p{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.dashboard-colors-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  transition: all 0.4s;
}
.dashboard-colors-container h2{
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
}
.dashboard-colors-container article{
  width: clamp(100px, 60%, 60%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dashboard-colors-container article p{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.dashboard-stocks-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.dashboard-stocks-title{
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 15px 0px 0px 10px;
  padding: 0;
}
.dashboard-stocks-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.dashboard-stock-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.dashboard-stock-item-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.dashboard-stock-item-info p{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.dashboard-stock-item-info img{
  max-height: 80px;
  max-width: 60px;
  object-fit: contain;
  border-radius: 5px;
}

.dashboard-stock-item-buttons{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreate.show{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreate .modalCreate-form{
  width: clamp(400px, 600px, 600px);
  height: clamp(200px, 400px, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreate form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreate form input{
  color: black;
  background-color:#cdcdcd;
  height: 30px;
  border: none;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.4s;
}
#modalCreate form select{
  color: black;
  background-color:#cdcdcd;
  height: 30px;
  border: none;
  font-size: large;
  width: 35%;
}

#modalCreate form input:hover{
  box-shadow: 0px 3.5px 0px 0px var(--secondary-color);
}

#modalCreate form input:focus{
  outline: none;
}

.modalEdit{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.modalEdit-form{
  width: clamp(400px, 600px, 600px);
  height: clamp(200px, 400px, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.modalEdit-form form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.modalEdit-form form input{
  color: black;
  background-color:#cdcdcd;
  height: 30px;
  border: none;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.4s;
}
.modalEdit-form form select{
  color: black;
  background-color:#cdcdcd;
  height: 30px;
  border: none;
  font-size: large;
  width: 35%;
}

.modalEdit-form form input:hover{
  box-shadow: 0px 3.5px 0px 0px var(--secondary-color);
}

.modalEdit-form form input:focus{
  outline: none;
}

#modalCreateColor.show{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreateColor.show label{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

#modalCreateSize.show{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

#modalCreateSize.show label{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.modalEditMarca {
  display: none;
}

.modalEditMarca.show {
  width: clamp(300px, 470px, 470px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.modalEditMarca.show label{

  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.modalEditColor.show{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.modalEditColor.show label{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.modalEditSize.show{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
.modalEditSize.show label{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .dashboard-colors-y-sizes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
  }
  .dashboard-colors-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1000px) {
  #modalCreateColor.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
  }
  #modalCreateSize.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
  }
}
