.panelCreate {
  display: none !important;
}

.panelCreate.show {
  display: block !important;
}

.dashboard-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
.dashboard-header h2{
  font-size: 1.5rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 15px 0px 0px 10px;
  padding: 0;
}

.dashboard-clothe{
  background-color: var(--background-color);
  margin: 10px 10px;
  border-radius: 10px;
  padding: 10px 10px;
  transition: all 0.4s;
  min-width: 430px;
}

.dashboard-clothe:hover{
  background-color: var(--dark-background);
  box-shadow: 3px 3px 2px 0px var(--secondary-color);
}

.dashboard-clothe header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.dashboard-clothe-info{
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dashboard-clothe-info img{
  height: 80px;
  max-width: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.dashboard-clothe-info h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 0px 0px 0px 10px;
  padding: 0;
  text-align: left;
  width: 100%;
}

button{
  width: clamp(10px, 35px, 35px);
  height: clamp(10px, 35px, 35px);
  margin: 10px 10px;
}

button:hover{
  background-color: var(--dark-background);
}